Dataset/
Dataset1/

Training/runs/

__pycache__/
*.py[cod]

*.log

*.pt

*.env
.env

venv/
env/

.DS_Store
Thumbs.db

*.egg-info/
.eggs/

.ipynb_checkpoints/

.vscode/
.idea/
Training/runs/detect/train/results.csv

*.mp4
*.avi
*.mov
*.mkv
*.webm
*.flv
*.wmv

*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.webp